<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>


</head>
<body>
<div th:replace="fragments :: header"></div>
<h2>STRONA GŁÓWNA</h2><br>
<div>
    <label>Email</label>
    <input type="text" name="receiver" placeholder="exampla@xms.pl"/><br>
    <label>Tytuł</label>
    <input type="text" name="title" placeholder="tutaj wpisz tytuł"/><br>
    <label>Treść</label>
    <input type="text" name="content" placeholder="tutaj wpisz treść"/><br>
</div>

<a href="/regulamin">Regulamin</a><br>
<a href="/info">O nas</a>

<div th:insert="fragments :: footer">

</div>
</body>
</html>