<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regulamin</title>
</head>
<body>

<div th:replace="fragments :: header"></div>

<h2>REGULAMIN</h2>
<p>Ogólne warunkach użytkowania strony internetowej lub aplikacji zawierają zasady korzystania ze strony internetowej lub aplikacji. Jest to dokument, który musi opublikować każda osoba, która stworzyła stronę internetową lub aplikację. Strona internetowa lub aplikacja posiada usługi elektroniczne, nawet jeśli nie oferuje bezpośrednio sprzedaży żadnych towarów ani usług. Usługi elektroniczne są to bowiem wszelkie funkcjonalności, które noszą cechy interaktywności i pozwalają osobom odwiedzającym stronę (użytkownikom) na wprowadzanie informacji i dokonywanie akcji powodujących określony skutek na stronie internetowej.</p>
<a href="/">Powrót do strony głównej</a><br>

<div th:replace="fragments :: footer"></div>

</body>
</html>